@model IEnumerable<SocialMediaApp.Models.Post>
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link href="/Content/site.css" rel="stylesheet" type="text/css" />
</head>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Posts</h2>
@foreach (var post in Model)
{
    <div class="post">
        <h4>@post.Account.Username</h4>
        <p>@post.Content</p>
        <small>Posted on @post.DatePosted</small>

        <div class="likes">
            <p>Likes: @post.Likes.Count</p>
            <form action="/Post/Like/@post.Id" method="post">
                <button type="submit">Like</button>    
            </form>
        </div>
    </div>

    <div class="comments">
        <h5>Comments: </h5>
        @foreach (var comment in post.comment){
            <p>@comment.Content - @comment.User.Username</p>
        }
    </div>

    <form action="/Comment/Create" method="post">
        <input type="hidden" name="postId" value="@post.Id" />
        <textarea name="content" placeholder="Add a comment"></textarea>
        <button type="submit">Comment</button>
    </form>
}
